.menu {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  position: relative;
  gap: 3rem;
  h1 {
    font-family: "Hiromi Sake", sans-serif;
    font-size: 4rem;
    color: var(--secondary-color);
  }
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@include tablet {
  .menu {
    padding: 2rem;
    h1 {
      font-size: 3rem;
    }
  }
  .menu-card {
    gap: 1rem;
  }
}
