.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
}

.home-content {
  max-width: 900px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);

  h1 {
    font-size: 4.5rem;
    font-family: "Hiromi Sake", sans-serif;
    text-align: center;
  }
  p {
    max-width: 500px;
    line-height: 1.4;
    text-align: center;
  }
  button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 25px 0 25px 0;
    border: none;
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    font-family: "Hiromi Sake", sans-serif;
    cursor: pointer;
    a {
      text-decoration: none;
      color: var(--secondary-color);
    }
    &:hover {
      background-color: var(--secondary-color);
      a {
        color: var(--button-color);
      }
    }
  }
}
@include tablet {
  .home-content {
    h1 {
      font-size: 3.5rem;
    }
  }
}
.home-hero {
  img {
    width: 100%;
    height: 100%;
  }
}

.girl {
  width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.girl-2 {
  width: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@include large {
  .girl,
  .girl-2 {
    display: none;
  }
}
