.header {
  height: 100px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header_logo {
  h1 {
    font-family: "Hiromi Sake", sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-color);
  }
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-right: 10rem;
  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--button-color);
    }
  }
}

.header_cart {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  svg {
    transition: all 0.5s ease-in-out;
  }
  svg:hover {
    fill: var(--button-color);
    transform: scale(1.2);
  }
}
